body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    width: 100%;
   
}

#title {
    font-size: 48px;
    margin-top: 70px;
    text-align: center;

}

#startScreen{
    text-align: center;


}

#buttonContainer{
    display: flex;
    justify-content: center;
    height: 10vh;
}

#startButton{
    background-color: lightcoral;
    border-radius: 10px;
    font-size: 3vw;
    width: 25vw;
    height: 10vh;
}
#gameContainer {
    display: none;
    width: 100vw;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('../Images/Deadpool_background_gamescreen.jpg');
    position: relative;
    background-size: cover;
    background-position: center center;
  }

#gameScreen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    width: 100vw;
}

.deadpoolImg {
    width: 50%;
    height: 60%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.cows{
    position: absolute;
    width: 8%;
    height: 25vh;

}

.sword {
    position: absolute;
    width: 5%;
    height: 20vh;
    transform: rotate(-70deg);
    left: 150px;
}

#GameEndScreen {
    text-align: center;
    display: none;
    background-image: url('../Images/marvelBackground.jpg');
    position: relative;
    height: 100vh;
}

.deadpoolImg2 {
    width: 35%;
    height: 60%;
    margin-top: 40px
    
}

#scoreId {
  font-size: 26px;
  color: white;
   
}

#livesId {
    font-size: 26px;
    color: white;
}
 

#reload-button{
    background-color: lightcoral;
    border-radius: 10px;
    font-size: 2rem;
    padding: 15px 30px;
}

#buttonContainer{
    display: flex;
    justify-content: center;

}

.endText{
    font-size: 16px;
    
}